body{
    margin: 0 auto;
    min-height: 100vh;
    background-color: bisque;
    background-image: url("svampletarna.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

[hidden] {
    display: none !important;
}

header{
    margin: 0;
    padding: 5%;
    background-color: #ffb163;
    box-shadow: 0px 5px 5px #9c7044;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

main{
    max-width: 1400px;
    flex: 1;
}

h1{
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    font-size: 2rem;
    font-family: 'Henny Penny', serif;
    text-align: center;
}

#btn-log-out{
    grid-column: 3;
    grid-row: 1;
    justify-self: end;
    
}

form{
    margin-top: 25%;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    margin: 0;
    background-color: #ffb163;
    text-align: center;
}


@media (min-width: 750px){
    
}